.tr {
	border: 1px solid black;
	margin: 2px;
	height: 30px;
}

.td {
	text-align: center;
}

.table {
	width: 95%;
	height: 100%;
	border: 2px solid greenyellow;
	border-radius: 20px;
}

.stats {
	height: 330px;
	width: 95%;
	display: grid;
	justify-content: center;
	/* grid-template-columns: 50% 50%; */
	padding-bottom: 20px;
	margin: 10px;
	border: 2px solid greenyellow;
	border-radius: 15px;
}

span {
	color: white;
}
