.main-middle-container{
  /* background-color:white; */
  display:flex;
  width:700px
}
.pp{
  border-radius:200px;
}
a{
color:blue;
}
.p{
  margin-top: 20px;
  font-size: 50px;
}
.image{
  width: 250ypx;
  height: 260px;
}
